{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{% trans "Recover your account" %} |{% endblock %}

{% block header %}<h1>{% trans "Recover your account" %}</h1>{% endblock %}

{% block content %}
	{% if invalid %}{% url "password_reset_recover" as recovery_url %}
    <p>{% blocktrans %}Sorry, this password reset link is invalid. Kindly <a href="{{ recovery_url }}">request a new one</a>.{% endblocktrans %}</p>
  {% else %}
    <p>{% blocktrans %}Hello, <strong>{{ username }}</strong>. Please select your new password.{% endblocktrans %}</p>
    <form method="post" action="{% url "password_reset_reset" token %}">
			{% include "form.html" %}
			<div class="buttonContainer"><input type="submit" value="{% trans "Set new password" %}"></div>
    </form>
  {% endif %}
{% endblock %}

